@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

#page-content {
  width: 100vw;
}

#floating-text {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

#inner-content {
  width: 50vw;
  text-align: center;
}

#super-inner-content {
  padding-left: 5vw;
  text-align: center;
  width: 40vw;
}

#button-links {
  padding-left: 5vw;
  width: 30vw;
}

@media only screen and (max-width: 600px) {
  #inner-content {
    width: 90vw;
  }

  #super-inner-content {
    width: 80vw;
  }

  #button-links {
    width: 70vw;
  }
}

@media only screen and (max-width: 800px) {
  #inner-content {
    width: 70vw;
  }

  #super-inner-content {
    padding-left: 5vw;
    width: 60vw;
  }

  #button-links {
    padding-left: 5vw;
    width: 50vw;
  }
}

body {
  background-color: #E7ECEF;
}

p {
  font-family: 'Yatra One', cursive;
  font-weight: 400;
  color: #272932;
}

h1 {
  font-family: 'Yatra One', cursive;
  font-weight: 800;
  color: #272932;
}

h4 {
  font-family: 'Yatra One', cursive;
  font-weight: 800;
  color: white;
  margin: 0 0;
}

p > a {
  position: relative;
  color: #000;
}

/* Dropdown Button */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 36px;
  background-color: transparent;
  transform: skew(-20deg);
  border: none;
  background: black;
  width: -webkit-fill-available;
}

/* Download dropdown Button */
.dropbtn-download {
  color: white;
  padding: 16px;
  font-size: 36px;
  background-color: transparent;
  transform: skew(-20deg);
  border: none;
  background: #663a82;
  width: -webkit-fill-available;

}

.reverse-skew {
    display: block;
    transform: skew(20deg);
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #646464;}

.dropdown:hover .dropbtn-download {background-color: #3c1c61;}

a:hover {
  cursor: pointer;
}
